.mypage-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.mypage-container .mypage-box {
    width: 230px;
    height: 230px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 10px;
}

.mypage-container .mypage-box .title {
    font-size: 1.1rem;
    font-weight: bold;
}

.mypage-container .mypage-box .description1 {
    font-size: 2.3rem;
    font-weight: bold;
    margin-top: 15px;
}

.mypage-container .mypage-box .description2 {
    font-size: 2.3rem;
    font-weight: bold;
    margin-top: 5px;
    color: rgb(255, 153, 0);
}

.mypage-container .mypage-box .description3 {
    font-size: 2.3rem;
    font-weight: bold;
    margin-top: 5px;
}

.mypage-container .mypage-box .modify-btn,
.mypage-container .mypage-box .remove-btn {
    font-size: 1.1rem;
    margin-top: 10px;
    color: white;
    background-color: rgb(255, 153, 0);
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
}

.mypage-container .mypage-box .description4 {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
}